*.tsbuildinfo
*.vsix
.nyc_output
.pnpm-debug.log
node_modules
out
coverage
src
test
doc
.gitattributes
.github
.gitmodules
logo.png
dev.js
test.js
pnpm-workspace.yaml
pnpm-lock.yaml
.vscode
.vscodeignore
README.md
shell.nix
